<div class="text-center">
  <h1 class="title ">Your dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="flip">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="face front">
              <div class="dashboard-card text-center">
                <div class="card-left" id="left-title">
                  <h2 class="heading-yellow"><%= booking.challenge.title%></h2>
                </div>
                <div class="card-left">
                  <div id="kisses">
                    <%= booking.challenge.category.kisses%> <%= image_tag "tiny_kiss.png" %>
                  </div>
                  <div id="booking-status">
                    <%= booking.status %>
                  </div>
                  <% if booking.status == "created" %>
                    <div class="col-xs-2">
                      <div id="confirm-challenge-button-<%= booking.id %>">
                        <%= link_to 'booking_validation', confirm_challenge_path(booking_id: booking.id), "data-toggle" => "modal", "data-target" => "#request-sent", remote: true, method: :post %>
                      </div>
                    </div>
                  <% elsif booking.status == "pending" %>
                    <button type="button", class="btn btn-success"> Waiting for partner </button>
                    <% else %>
                  <% end %>
                </div>
                <%= image_tag booking.challenge.category.picture, class: "dashboard-category"%>
              </div>
            </div>
            <div class="face back">
              <div class="dashboard-card text-center">
                <div class="card-left" id="left-title">
                  <h2 class="heading-yellow"><%= booking.challenge.title%></h2>
                </div>
                <%= booking.challenge.description %>
                <%= image_tag booking.challenge.category.picture, class: "dashboard-category"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_tag do %>
  $(document).ready(function(){
    $('.flip').click(function(){
      $(this).find('.card').toggleClass('flipped');
    });
  });
  <% end %>
<% end %>

