<div class="text-center">
  <h1 class="title ">Your dashboard</h1>
</div>

<div class="text-center">
  <% if @user.partner.nil? %>
    <%= link_to "New challenge", play_path, class: "button-lovee button-lovee-modal", id: "dash-btns" %>
    <%= link_to t(".top_call_to_action", default: "Add your partner"), "" , class: "button-lovee button-lovee-modal", id: "dash-btns", "data-toggle" => "modal", "data-target" => "#invitation" %>
  <% else %>
    <%= link_to "New challenge", play_path, class: "button-lovee button-lovee-modal", id: "dash-btns" %>
  <% end %>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="flip">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="face front">
              <div class="dashboard-card text-center">
                <div class="card-left" id="left-title">
                  <h2 class="heading-yellow"><%= booking.challenge.title%></h2>
                </div>
                <!-- <div class="card-left"> -->
                  <div id="kisses">
                    <%= booking.challenge.category.kisses%> <%= image_tag "tiny_kiss.png" %>
                  </div>
                  <div id="booking-status">
                    Status:  <%= booking.status %>
                  </div>
                  <% if booking.status == "created" %>
                    <div class="col-xs-12">
                      <div class="text-center top-margin-for-done" id="confirm-challenge-button-<%= booking.id %>">
                        <%= link_to "I did it!", "#", class:"booking-validation button-lovee-i-did-it inner-padding", id:"done", "data-booking-id": booking.id %>
                      </div>
                    </div>
                  <% elsif booking.status == "pending" %>
                    <div class="col-xs-12">
                      <div class="text-center">
                        <button type="button", class="button-lovee-i-did-it", id="waiting">  Waiting for partner </button>
                      </div>
                    </div>
                  <% else %>
                  <div class="col-xs-12">
                    <div class="text-center">
                      <button type="button", class="button-lovee-i-did-it", id="completed">  Done!</button>
                    </div>
                  </div>
                  <% end %>
                <!-- </div> -->
                <%= image_tag booking.challenge.category.picture, class: "dashboard-category"%>
              </div>
            </div>
            <div class="face back">
              <div class="dashboard-card text-center">
                <div class="card-left" id="left-title">
                  <h2 class="heading-yellow"><%= booking.challenge.title%></h2>
                </div>
                <%= booking.challenge.description %>
                <%= image_tag booking.challenge.category.picture, class: "dashboard-category"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!-- modal for request sent -->
<div class="modal fade" id="request-sent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content lovee-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center heading-blue">Confirmation request sent</h3>
      </div>
      <div class="modal-body text-center">
         <p>
        <% if current_user && current_user.partner && current_user.partner. first_name %> A confirmation request has been sent to
           with <span id="play-name"> <%= current_user.partner.first_name %></span>
          You will get your LoVee kisses as soon as they confirm you completed this challenge.
           <% else %>
            You do not have a partner yet, please add one before sending a confirmation !
        <% end %>
        </p>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn button-lovee button-rules button-lovee-small" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal for inviting partner -->
<div class="modal fade" id="invitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content lovee-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center heading-blue" id="myModalLabel">Invite your partner</h4>
      </div>
      <div class="modal-body">
        <%= form_tag invite_path, method: :get do %>
        <br>
          <p class="text-center">Your partner's email</p>
          <%= email_field_tag :email, nil, class: "form-control", placeholder: "partner@lovee.com" %>
          <br>
          <div class="text-center">
            <%= submit_tag "invite", class: "button-lovee button-lovee-modal", id: "invite" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<% content_for :after_js do %>
  <%= javascript_tag do %>
  $(document).ready(function(){

    // -------- triggers flip on click
    $('.flip').click(function(){
      $(this).find('.card').toggleClass('flipped');
    });

    // -------- calls the model and triggers
    $(".booking-validation").click(function(e){
      e.stopPropagation();
      $.ajax({
        method: "post",
        url: "<%= confirm_challenge_path %>",
        data: {booking_id: $(e.target).data("booking-id")}
      });
      $("#request-sent").modal("show");
      $("#confirm-challenge-button-" + $(e.target).data("booking-id")).html('<button type="button", class="button-lovee-i-did-it", id="waiting"> Waiting for partner </button>');

    });

  });
  <% end %>
<% end %>

<!-- confirm_challenge_path(booking_id: booking.id), "data-toggle" => "modal", "data-target" => "#request-sent", remote: true, method: :post -->
