<br>
<h2 class="heading-blue text-center">Category - <%= @category.name%></h2>
<h3 class="subheading text-center"> <strong><%= @category.kisses %></strong>  <%= image_tag "tiny_kiss.png" %></h3>
<div class="container">
  <div class="row">
    <% @sorted_challenges.each do |challenge| %>

      <div class="col-xs-12 col-md-4">
        <div class= "card" >
          <div class=" text-center text-align lovee-message">
            <p class="yellow-text"><strong> <%= challenge.title %> </strong> </p>
            <p class="yellow-text"> <%= challenge.description %> </p>
            <!-- <h1 class="red-text"><strong>?</strong></h1> -->
            <p class="yellow-text">for <%=challenge.gender%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<div class="container text-center padded-bottom">
  <%= form_for @booking do |f| %>
    <%= hidden_field_tag "challenge_ids", @sorted_challenges.map(&:id) %>
    <%= link_to new_booking_path(category_id: @category.id),class: "button-lovee button-lovee-small" do %>
      Shuffle <i class="fa fa-refresh"></i>
    <% end %>
    <%= f.button :button, class: 'button-lovee button-lovee-small' do %>
      Get one <i class="fa fa-gamepad"></i>
    <% end %>
  <% end %>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class= "card" >
        <div class=" text-center text-align send-message">


        </div>
      </div>
    </div>
  </div>
</div>
 -->
