<div class="navbar-lovee">
  <!-- Logo -->
  <!-- <div classe="menu">
<p> Lo <i class="fa fa-heart-o" aria-hidden="true"></i> ee</p>
</div> -->
<div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle menu-icon" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil-square-o"></i>  Edit Profile
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_path do %>
            <i class="fa fa-bar-chart"></i>  Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fa fa-calendar"></i>  Anniversaries
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fa fa-heart"></i>  Buy kisses
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: " Log out") %>
          <% end %>
        </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> <%= t(".sign_in", default: "Login") %>
            <% end%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation --><!--
  <div class="navbar-wagon-right hidden-xs hidden-sm"> -->

    <!-- Search form -->
    <!--  <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

     <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%#= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <!-- <div class="badge-container">
          <i class="fa fa-comment-o"></i>
          <div class="badge badge-o">2x</div>
        </div> -->
      <%# end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
          <%= link_to dashboard_path do %>

        <div class="dropdown">
          <% options = {class: "avatar dropdown-toggle", id: "navbar-wagon-menu"} %>
            <% if current_user.facebook_picture_url %>
              <%= image_tag current_user.facebook_picture_url, options %>
              <span class="badge badge-coins">256</span>
            <% else %>
              <%= image_tag "avatar_default.png", options %>
              <span class="badge badge-coins">256</span>
            <% end %>

        </div>
        <% end %>
      </div>

      <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
   <!--  <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %> -->
  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>

