<h1> Hi <%= @booking.user.email %> </h1>

<h2> a Challenge has been offer to your partner </h2>
<h2> title of challenge : <%= @booking.challenge.title %> </h2>
<h2> Description of challenge : <%= @booking.challenge.description %> </h2>
<h2> Awards: <%= @booking.challenge.category.coins %> </h2>
<h2> Awards: <%= link_to "see the challenge", booking_url(@booking)%> </h2>
