<div class="modal fade" data-keyboard="false" data-backdrop="static" id="gender" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title text-center lovee-message">Make LoVee yours</h4>
        <p class="text-center"> Please select your gender</p>
      </div>
      <div class="modal-body">

        <%= simple_form_for(current_user, url: user_registration_path, html: { method: :patch }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :gender, :collection => %w[male female]%>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, " Yeah ", class:"btn lovee-button" %>
          </div>
        <% end %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      $("#gender").modal('show') ;
    });
  <% end %>
<% end %>
