<div class="modal fade" data-keyboard="false" data-backdrop="static" id="gender" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content lovee-modal">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h3 class="modal-title text-center">Make LoVee yours</h3>
      </div>
      <div class="modal-body text-center">
      <p>Please select your gender </p>
        <%= simple_form_for(current_user, url: user_registration_path, html: { method: :patch }) do |f| %>
          <%= f.error_notification %>
          <div class="gender-list">
          <div class="form-actions text-center">
            <%= f.button :button, class:"btn button-lovee button-gender marginized", value: 'male', name: 'user[gender]' do %>
                 <i class="fa fa-male"></i>
            <% end %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :button, class:"btn button-lovee button-gender marginized", value: 'female', name: 'user[gender]' do %>
              <i class="fa fa-female"></i>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      $("#gender").modal('show') ;
    });
  <% end %>
<% end %>
