<div class="nav-and-banner-container">


<div class="navbar-lovee">
<div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle menu-icon" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu navbar-wagon-dropdown-menu">
      <% if user_signed_in? %>
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil-square-o"></i>  Edit Profile
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_path do %>
            <i class="fa fa-bar-chart"></i>  Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fa fa-calendar"></i>  Anniversaries
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fa fa-heart"></i>  Buy kisses
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: " Log out") %>
          <% end %>
        </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> <%= t(".sign_in", default: "Login") %>
            <% end%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

     <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
          <%= link_to dashboard_path do %>

        <div class="dropdown">
          <% options = {class: "avatar dropdown-toggle", id: "navbar-wagon-menu"} %>
            <% if current_user.facebook_picture_url %>
              <%= image_tag current_user.facebook_picture_url, options %>
              <span class="badge badge-coins"> <%=current_user.total_kisses %> </span>
            <% else %>
              <%= image_tag "avatar_default.png", options %>
              <span class="badge badge-coins"> <%=current_user.total_kisses %></span>
            <% end %>

        </div>
        <% end %>
      </div>

      <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>


<%= render 'shared/flashes' %>

<!-- <div class="banner"> -->
<div class="banner">
  <div class="banner-content">
    <h2><span style="color:#E76E56">LoVee</span>'s in the air</h2>
    <br>
    <% if user_signed_in? %>
      <%= link_to t(".top_call_to_action", default: " Play Now "), play_path , class: "button-lovee btn" %>
    <% else %>
      <%= link_to t(".top_call_to_action", default: " Play Now "), play_path , class: "button-lovee btn" %>
    <% end %>
  </div>
</div>
</div>

<!-- Motto -->
<!-- <div class="motto">
  <div class="container text-align text-center">
  <h2> LoVe.each do | other | </h2>
  </div>
</div> -->

<!-- About the game  -->
<div class="wrapper-lovee padded">
  <div class="container text-align text-center">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div >
          <h2><span>Play</span></h2>
          <div class="icons-size">
            <i class="fa fa-gamepad lovee-icon" aria-hidden="true"></i>
          </div>
          <div class="justify">
            <p> A New gaming <strong>Experience</strong> for your <strong> Relationship </strong> Momentum ! </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div >
          <h2><span>Earn</span></h2>
          <div class="icons-size">
            <i class="fa fa-money lovee-icon" aria-hidden="true"></i>
          </div>
          <div class="justify">
            <p> Receive LoVee <strong>kisses</strong> when you complete a <strong>challenge!</strong> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div >
          <h2><span>Love</span></h2>
          <div class="icons-size">
            <i class="fa fa-gratipay lovee-icon" aria-hidden="true"></i>
          </div>
          <div class="justify">
            <p> Spend your <strong>LoVee</strong> kisses and <strong> love </strong> each other ! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- About the game  -->
<div class="padded about">
  <div class="container text-align text-center">
    <h2> Why ?</h2>
    <p> LoVee is a digital experience which helps couples to re-invent their love every single day.</p>
    <p> With LoVee you will challenge each other for a maximum of fun in your daily life</p>
  </div>
</div>


