<h1 class = "text-center">Choose a category</h1>



<% @categories.each do |category| %>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">

        <div class="category-card text-center">
          <%= link_to "", category_path(category), class: "category-card-link" %>
          <h3><%= category.name %></h3>
            <h3>You can earn: <%= category.coins %></h3>
          <%= image_tag category.picture, class: "category-card-image"%>
        </div>
      </div>
    </div>
  </div>


<% end %>


  <%= render 'shared/button' %>
