<br>
<h2 class="heading-blue text-center">Category - <%= @category.name%></h2>
<h3 class="subheading text-center"><strong><%= @category.kisses %></strong>  <%= image_tag "tiny_kiss.png" %></h3>
<div class="container">
  <div class="row">
    <% @sorted_challenges.each do |challenge| %>

      <div class="col-xs-12 col-md-4">
        <div class= "card" >
          <div class=" text-center text-align lovee-message">
            <p class="yellow-text"><strong> <%= challenge.title %> </strong> </p>
            <p class="yellow-text"> <%= challenge.description %> </p>
            <!-- <h1 class="red-text"><strong>?</strong></h1> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="container text-center padded-bottom">
  <%= link_to category_path(@category), class: "button-lovee button-lovee-small" do %>
    Shuffle <i class="fa fa-refresh"></i>
  <% end %>
  <%= link_to new_user_session_path, class: "button-lovee button-lovee-small" do%>
     Get one <i class="fa fa-gamepad"></i>
  <% end %>
</div>

<div class="modal fade" id="rules" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content lovee-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center heading-blue"><i class="fa fa-gamepad"></i> How to play </h3>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-random fa-3x marginized"></i>
        <p>You are presented with three <strong>random</strong> challenges</p>

        <i class="fa fa-play fa-3x marginized"></i>
        <p>When you click play, you will be assigned <strong>ONE</strong> of these challenges</p>

        <i class="fa fa-refresh fa-3x marginized"></i>
        <p>If you are unhappy with the selection of challenges, click shuffle!</p>


        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn button-lovee button-rules button-lovee-small" data-dismiss="modal">Got it</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      setTimeout(function() {
        $('#rules').modal('show');
      }, 1000);
    });

  <% end %>
<% end %>
