<h2 class="heading-yellow text-center">Category - <%= @category.name%></h2>
<h3 class="subheading text-center"><strong><%= @category.kisses %></strong>  <%= image_tag "tiny_kiss.png" %></h3>
<div class="container">
  <div class="row">
    <% @sorted_challenges.each do |challenge| %>

      <div class="col-xs-12 col-md-4">
        <div class= "card" >
          <div class=" text-center text-align lovee-message">
            <p class="yellow-text"><strong> <%= challenge.title %>
            </strong> </p>
            <p class="yellow-text">Description: </p>
            <h1 class="red-text"><strong>?</strong></h1>
            <p class="yellow-text">for <%=challenge.gender%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="container text-center padded-bottom">
  <%= link_to category_path(@category), class: "button-lovee button-lovee-small" do %>
    Shuffle <i class="fa fa-refresh"></i>
  <% end %>
  <%= link_to new_user_session_path, class: "button-lovee button-lovee-small" do%>
     Pick one <i class="fa fa-gamepad"></i>
  <% end %>
</div>

<div class="modal fade" id="rules" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content lovee-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center">LoVee rules </h3>
      </div>
      <div class="modal-body text-center">
        <p>jdfndjdjdjdjdjdjd</p>
        <div class="modal-footer">
          <button type="button" class="btn button-lovee button-rules" data-dismiss="modal">Got it</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $( document ).ready(function() {
      setTimeout(function() {
        $('#rules').modal('show');
      }, 1000);
    });

  <% end %>
<% end %>
