<h2 class="heading-yellow text-center">Category - <%= @category.name%></h2>
<h3 class="subheading text-center">Kisses earnable: <strong><%= @category.kisses %></strong></h3>
<div class="container">
  <div class="row">
    <% @sorted_challenges.each do |challenge| %>

      <div class="col-xs-12 col-md-4">
        <div class= "card" >
          <div class=" text-center text-align lovee-message">
            <p class="yellow-text"><strong> <%= challenge.title %> </strong> </p>
            <p class="yellow-text">Description: </p>
            <h1 class="red-text"><strong>?</strong></h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="container text-center padded-bottom">
  <%= link_to category_path(@category), class: "button-lovee button-lovee-small" do %>
    Shuffle <i class="fa fa-refresh"></i>
  <% end %>
  <%= link_to new_user_session_path, class: "button-lovee button-lovee-small" do%>
     Pick one <i class="fa fa-gamepad"></i>
  <% end %>
</div>

